// Post listing
.post-listing {
  background-color: $white;
}

.post iframe {
  max-width: 100% !important;
}

#post iframe {
  max-width: 100% !important;
}

#post figure {
  min-height: 150px;
}

.post figure {
  min-height: 150px;
}

